extends ../layout

block head
  title Contea

block content
  #Immaginecontea.jumbotron
  .row
   .col-md-6
    img#Immaginecontea2(src="./images/contea1.jpg")
   .col-md-6
    .page-header
      h1 La Contea
      p lorem ipsum ecc...