doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')

  link(href='styles/styles.css', rel='stylesheet')

body
  #Presentazione.jumbotron
    h1 La natura nel signore degli anelli
    button#Bottone.btn.btn-outline-primary(type='button') 
      a(href='/mappa.html') Mappa
  script(src='scripts/scripts.js')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
