extends ../layout

block head
  title Home

block content
  img(src='./images/mappa_terradimezzo.jpg', width='100', height='100', alt='YourImage', usemap='#Immagine')
    map(name='YourMap')
      area(shape='rect', coords='0,0,82,126', href='contea.html', alt='Path1')
      area(shape='circle', coords='90,58,3', href='foresta.html', alt='Path2')
      area(shape='poly', coords='124,58,8, 1', href='mordor.html', alt='Path3')
  #Immagine.jumbotron
