extends ../layout

block head
  title Home

block content
  #Immagine.jumbotron
  

  #Introduzione

       .page-header
         h1 Introduzione
       .row
         .col-md-6
           p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis purus lorem. Nam at sapien enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget sapien dolor. Quisque vestibulum, nisl at dapibus interdum, nulla tellus volutpat orci, vel ultrices justo nibh vitae elit. Sed et volutpat est, quis cursus leo. Nullam et egestas purus. Etiam et eros pretium, blandit nulla non, eleifend enim. In consequat scelerisque consequat. Donec erat erat, porttitor ut eros sit amet, varius egestas diam. Nunc feugiat elementum vestibulum. Proin consequat nulla quis tortor cursus rutrum. Donec ac eleifend sem. In viverra nisl sit amet quam pharetra gravida. Sed eu erat vitae urna lobortis dictum a sit amet ante. Proin tempus enim molestie tortor varius, sit amet posuere urna eleifend
         .col-md-6
           img#img1(src="./images/immagine2.jpg")
  
  #Parte1

       .page-header
         h1 Parte 1 
       .row
         .col-md-6
           img#img2(src="./images/immagine4.jpg")
         .col-md-6
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis purus lorem. Nam at sapien enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget sapien dolor. Quisque vestibulum, nisl at dapibus interdum, nulla tellus volutpat orci, vel ultrices justo nibh vitae elit. Sed et volutpat est, quis cursus leo. Nullam et egestas purus. Etiam et eros pretium, blandit nulla non, eleifend enim. In consequat scelerisque consequat. Donec erat erat, porttitor ut eros sit amet, varius egestas diam. Nunc feugiat elementum vestibulum. Proin consequat nulla quis tortor cursus rutrum. Donec ac eleifend sem. In viverra nisl sit amet quam pharetra gravida. Sed eu erat vitae urna lobortis dictum a sit amet ante. Proin tempus enim molestie tortor varius, sit amet posuere urna eleifend
         
         
           