extends ../layout

block head
  title Home

block content

  img#Immagine(src='./images/mappa_terradimezzo.jpg', width='100', height='100', alt='YourImage', usemap='#YourMap')
  map(name='YourMap')
    area(shape='rect', coords='390,225,490,325', href='contea.html', alt='Path1')
    area(shape='rect', coords='685,310,785,410', href='foresta.html', alt='Path2')
    area(shape='rect', coords='950,365,1225,565', href='mordor.html', alt='Path3')
    