.navbar {
  margin-bottom: .2px!important;
  padding-bottom: 0.2px!important;
  background-color: black!important;
  

}
#Immagine{
  min-height: 100vh;
  max-width:100%;
  max-height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 0px;
  top:0px;
}
#Immaginecontea{
  min-height: 100vh;
  max-width:100%;
  max-height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 0px;
  top:0px;
  background-image: url("./images/contea2.jpg");
 }
 #Immaginecontea2{
  min-height: 100vh;
  max-width:100%;
  max-height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 0px;
  top:0px;
 }
 #Immagineforesta{
  min-height: 100vh;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 0px;
  top:0px;
  background-image: url("./images/ent3.jpg")

 }
  #Immaginemordor{
  min-height: 100vh;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 0px;
  top:0px;
  background-image: url("./images/paludimorte.jpg")

 }
}