nav.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    .navbar-header
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href= '/mappa.html')
            | Mappa terra di mezzo 
        li
          a(href='/contea.html') Contea
        li
          a(href='/foresta.html') Foresta di Fangorn
        li
          a(href='/mordor.html') Mordor      