nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href='#')
            | Home 
        li
          a(href='#' onclick ='scrollTo("#Introduzione")') Introduzione
        li
          a(href='#' onclick ='scrollTo("#Parte1")') Parte1
        li
          a(href='#') Link      

